node_modules
.next
out
build
dist
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode
.idea
coverage
.turbo

# next-env
next-env.d.ts

# TS build info
tsconfig.tsbuildinfo

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/terraform.tfvars
infra/*.tfplan
infra/crash.log
